<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ConsumerKey" value="BuHnRBigk7Z9ODANTQxxLg"/>
    <add key="ConsumerSecret" value="UkVn1sB1MkUwcHEKcWERsBHTEc0REPn5vdw4jDqk4"/>

    <add key="FBAppID" value="131664040210585"/>
    <add key="FBAppKey" value="e6c00583cd4fae1aa69eb2588d65de07"/>
    <add key="FBSecretKey" value="6b437474c78cd12a9b7ceb588f8ab9ff"/>

  </appSettings>


  <connectionStrings>
    <!-- Serveur de Pocket -->
    <!--<add name="ConnStr" connectionString="Server=eip.mine.nu;Port=6070;User Id=EIP;Password=37d2lm?;Database=EIP;"/>-->
    <!-- VM epitech -->
    <add name="ConnStr" connectionString="Server=mynetwork.selfip.net;Port=6040;User Id=EIP;Password=37d2lm?;Database=EIPDEV;"/>
    <!-- Localhost -->
    <!--<add name="ConnStr" connectionString="Server=localhost;Port=6070;User Id=EIP;Password=37d2lm?;Database=EIP;"/>-->
    
    <!--eip.mine.nu mynetwork.selfip.net localhost-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_MonService"
            maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647" receiveTimeout="10:00:00" sendTimeout="10:00:00" openTimeout="10:00:00"   closeTimeout="10:00:00"/>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="EIPWCF.ServiceEIP" behaviorConfiguration="EIPWCF.ServiceEIPBehavior" >
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="EIPWCF.IServiceEIP" name="BasicHttpBinding_Service" >
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EIPWCF.ServiceEIPBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"  /><!--httpGetUrl="http://mynetwork.selfip.net/WCF/ServiceEIP.svc"-->
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="false"/>
  </system.webServer>
  
  
</configuration>

<!--<%@ ServiceHost Language="C#" Debug="true" Service="EIPWCF.ServiceEIP, EIPWCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0cc6dfd31b30f6b2" CodeBehind="ServiceEIP.svc.cs" %>
-->
