<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ConsumerKey" value="BuHnRBigk7Z9ODANTQxxLg"/>
    <add key="ConsumerSecret" value="UkVn1sB1MkUwcHEKcWERsBHTEc0REPn5vdw4jDqk4"/>

    <add key="FBAppID" value="185484705355"/>
    <add key="FBAppKey" value="e0c1f6b95b88d23bfc9727e0ea90602a"/>
    <add key="FBSecretKey" value="4c5f93a9b3c465028aa55751bee949d9"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>