<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ConsumerKey" value="BuHnRBigk7Z9ODANTQxxLg"/>
    <add key="ConsumerSecret" value="UkVn1sB1MkUwcHEKcWERsBHTEc0REPn5vdw4jDqk4"/>

    <add key="FBAppID" value="131664040210585"/>
    <add key="FBAppKey" value="e6c00583cd4fae1aa69eb2588d65de07"/>
    <add key="FBSecretKey" value="6b437474c78cd12a9b7ceb588f8ab9ff"/>

  </appSettings>

</configuration>